<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a class="navbar-link" href="../pages/about.html">About</a></li>
    <li class="navbar-item"><a class="navbar-link" href="../pages/resume.html">Resume</a></li>
    <li class="navbar-item"><a class="navbar-link" href="../pages/portfolio.html">Portfolio</a></li>
    <li class="navbar-item"><a class="navbar-link" href="../pages/blog.html">Blog</a></li>
    <li class="navbar-item"><a class="navbar-link" href="../pages/contact.html">Contact</a></li>
  </ul>
</nav>